{% load i18n %}

{% block subject %}
{% blocktrans %}Esqueci minha senha em {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Você recebeu esse e-mail por ter solicitado o reset da sua senha em {{ site_name }}.{% endblocktrans %}

{% trans "Por favor cole o link abaixo em um navegador e informe uma nova senha" %}
{{ protocol }}://{{ frontend }}/{{ url }}
{% trans "Caso tenha esquecido, seu usuário é:" %} {{ user.get_username }}

{% trans "Obrigado por usar nosso site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Você recebeu esse e-mail por ter solicitado o reset da sua senha em {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Por favor clique no link abaixo e informe uma nova senha:" %}</p>
<a href="{{ protocol }}://{{ frontend }}/{{ url }}">{{ protocol }}://{{ frontend }}/{{ url }}</a>
<p>{% trans "Caso tenha esquecido, seu usuário é:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Obrigado por usar nosso site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}
