{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Sua senha foi alterada com sucesso!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Sua senha foi mudada!" %}

{% trans "Obrigado por usar o nosso site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Sua senha foi mudada!" %}</p>

<p>{% trans "Obrigado por usar o nosso site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}
